<page-header [autoTitle]=false></page-header>

<nz-card [nzBordered]="false">
    <form nz-form [formGroup]="form" (ngSubmit)="submit()">
      <nz-form-item>
        <nz-form-label nzXs="24" nzSm="7" nzRequired nzFor="password">旧密码</nz-form-label>
        <nz-form-control nzXs="24" nzSm="12" nzMd="10">
          <input nz-input type="password" formControlName="password" id="password" placeholder="请输入密码">
          <nz-form-explain *ngIf="form.get('password').dirty && form.get('password').errors">请输入密码</nz-form-explain>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label nzXs="24" nzSm="7" nzRequired nzFor="newPassword">密码</nz-form-label>
        <nz-form-control nzXs="24" nzSm="12" nzMd="10">
          <input nz-input type="password" formControlName="newPassword" id="newPassword" placeholder="请输入新密码">
          <nz-form-explain *ngIf="form.get('newPassword').dirty && form.get('newPassword').errors">请输入新密码</nz-form-explain>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
          <nz-form-label nzXs="24" nzSm="7" nzRequired nzFor="newPassword2">确认密码</nz-form-label>
          <nz-form-control nzXs="24" nzSm="12" nzMd="10">
            <input nz-input type="password" formControlName="newPassword2" id="newPassword2" placeholder="请再次输入新密码">
            <nz-form-explain *ngIf="form.get('newPassword2').dirty && form.get('newPassword2').errors">请再次输入新密码</nz-form-explain>
          </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-control [nzXs]="{ span: 24, offset: 0 }" [nzSm]="{ span: 10, offset: 7 }">
          <button nz-button nzType="primary" type="submit" [nzLoading]="submitting">提交</button>
        </nz-form-control>
      </nz-form-item>
    </form>
  </nz-card>
