<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.august.rbac.mapper.DictMapper">

    <select id="list" parameterType="com.august.rbac.dto.DictSearchDTO"
            resultType="com.august.rbac.dto.DictFetchDTO">
        select t.id as id ,
        t.value as value,
        t.sort as sort,
        t.text as text ,
        t.pid as pid ,
        t.version as version ,
        t.create_time as createTime,
        t.remark as remark,
        s.text as pidText
        from t_rbac_dict t
        left join t_rbac_dict s on t.pid = s.id
        <where>
            1 = 1
            <if test="params.text != null">
                and t.text=#{params.text}
            </if>
            <if test="params.value != null">
                and t.value=#{params.value}
            </if>
            <if test="params.pidText != null">
                and s.text=#{params.pidText}
            </if>
            <if test="params.pid != null">
                and t.pid=#{params.pid}
            </if>
        </where>
        order by t.pid desc,t.create_time desc
    </select>

    <select id="findByPidOrderBySortDesc" resultType="com.august.rbac.domain.Dict">
      select * from
      t_rbac_dict
      where
      pid = #{pid}
      order by sort desc
    </select>

    <select id="findByValue" resultType="com.august.rbac.domain.Dict">
        select * from
        t_rbac_dict
        where
        value = #{value}
    </select>
    <select id="findByPid" resultType="com.august.rbac.domain.Dict">
          select * from
          t_rbac_dict
          where
          pid = #{pid}
    </select>
</mapper>
