<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.august.rbac.mapper.UserInfoMapper">

    <select id="list" parameterType="com.august.rbac.dto.UserInfoSearchDTO"
            resultType="com.august.rbac.dto.UserInfoFetchDTO" >
        select
        trui.id as id,
        trui.user_name as userName,
        trui.name as name,
        trui.mobile as mobile,
        trui.version,
        trui.email,
        trui.create_time as createTime,
        trui.create_user as createUser,
        trg.group_name as groupName
        from t_rbac_user trui
        left join t_rbac_group trg on trui.group_id = trg.id
        <where>
            1 = 1
            <if test="params.userName != null and params.userName != ''">
                and trui.user_name=#{params.userName}
            </if>
            <if test="params.name != null and params.name != ''">
                and trui.name=#{params.name}
            </if>
            <if test="params.mobile != null and params.mobile != ''">
                and trui.mobile=#{params.mobile}
            </if>
            <if test="params.createTime != null">
                and trui.create_time >= #{params.createTime}
            </if>
            <if test="params.groupIds != null and  params.groupIds.size() > 0">
                and trui.group_id in
                <foreach collection="params.groupIds"  item="item" open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>

            <if test="params.roleId != null and params.roleId != ''">
                <choose>
                    <when test="params.userIds != null and  params.userIds.size() > 0">
                        and trui.id in
                        <foreach collection="params.userIds"  item="item" open="(" separator="," close=")">
                            #{item}
                        </foreach>
                    </when >
                    <otherwise>
                         and 1=2
                    </otherwise>
                </choose>
            </if>

            <if test="params.notInUserIds != null and  params.notInUserIds.size() > 0">
                and trui.id not in
                <foreach collection="params.notInUserIds" item="item" open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
        </where>
        order by trui.create_time desc
    </select>
    <select id="findByUserName" resultType="com.august.rbac.domain.UserInfo">
        select * from
        t_rbac_user
        where
        user_name = #{userName}
    </select>
    <select id="findByUserNameAndPassword" resultType="com.august.rbac.domain.UserInfo">
        select * from
        t_rbac_user
        where
        user_name = #{userName}
        and password = #{password}
    </select>
    <select id="findByGroupIdIn" resultType="com.august.rbac.domain.UserInfo">
        select * from
        t_rbac_user
        where
        <choose>
            <when test="gids != null and gids.size() > 0">
                group_id in
                <foreach collection="gids" index="index" item="item" open="(" separator="," close=")">
                    #{item}
                </foreach>
            </when>
            <otherwise>
                1 = 2
            </otherwise>
        </choose>
    </select>
    <select id="findByGroupId" resultType="com.august.rbac.domain.UserInfo">
        select * from
        t_rbac_user
        where
        group_id = #{gid}
    </select>
    <select id="findByIdIn" resultType="com.august.rbac.domain.UserInfo">
        select * from
        t_rbac_user
        where
        <choose>
            <when test="uids != null and uids.size() > 0">
                group_id in
                <foreach collection="uids" index="index" item="item" open="(" separator="," close=")">
                    #{item}
                </foreach>
            </when>
            <otherwise>
                1 = 2
            </otherwise>
        </choose>
    </select>
</mapper>
