<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sophia.cms.sm.mapper.DataViewMapper">

    <select id="list" parameterType="com.sophia.cms.sm.model.DataViewSearchModel"
            resultType="com.sophia.cms.sm.model.DataViewModel">
        SELECT
        t.id,
        t.sql_id AS sqlId,
        t.data_view_name AS dataViewName,
        t.remark,
        t.OPTIONS,
        t.FIELDS,
        t.buttons,
        t.tree_options AS treeOptions,
        t.data_filters AS dataFilters,
        t.version,
        t.create_time AS createTime,
        t.create_user AS createUser,
        t.last_update_time,
        t.last_update_user
        FROM
        t_sm_dataview t
        <where>
            1 = 1
            <if test="params.sqlId != null">
                and t.sql_id=#{params.sqlId}
            </if>
            <if test="params.dataViewName != null">
                and t.data_view_name=#{params.dataViewName}
            </if>
        </where>
        order by t.create_time desc
    </select>
</mapper>
