<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sophia.cms.sm.mapper.SqlDefineMapper">

    <select id="list" parameterType="com.sophia.cms.sm.model.SqlDefineSearchModel"
            resultType="com.sophia.cms.sm.model.SqlDefineFetchModel">
        SELECT
        t.id AS id,
        t.sql_name AS sqlName,
        t.select_sql AS selectSql,
        t.sql_extra AS sqlExtra,
        t.datasource AS datasource,
        d.NAME AS datasourceText,
        t.version AS version,
        t.create_time AS createTime,
        t.is_cache AS isCache,
        t.state AS state,
        t.remark AS remark,
        t.table_name AS tableName,
        t.pri AS pri,
        t.sql_type AS sqlType
        FROM
        t_sm_sqldefine t,
        t_sm_datasource d
        <where>
            t.datasource = d.id
            <if test="params.id != null">
                and t.id like  concat(#{params.id},'%')
            </if>
            <if test="params.sqlName != null">
                and t.sql_name like concat(#{params.sqlName},'%')
            </if>
            <if test="params.tableName != null">
                and t.table_name like  concat(#{params.tableName},'%')
            </if>
            order by t.create_time desc
        </where>
    </select>
</mapper>
